MODE=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SECRET_KEY=
ALGORITHM=

GOOGLE_REDIRECT_URI=
CLIENT_SECRETS_FILE=

DROPBOX_REFRESH_TOKEN=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=

JUPYTERHUB_URL=
JUPYTERHUB_NOTEBOOK_DIR=
JUPYTER_LINK_MODE=
ENABLE_EMBEDDED_NOTEBOOK_EDITOR=
JUPYTERHUB_ORIGIN=
JUPYTERHUB_PUBLIC_BASE_URL=
JUPYTERHUB_PUBLIC_ORIGIN=
APP_ORIGIN=
JUPYTERHUB_ADMIN_TOKEN=
JUPYTERHUB_TOKEN_TTL_SECONDS=
JUPYTER_NOTEBOOK_FILENAME=
JUPYTER_NOTEBOOK_AUTOSAVE_SECONDS=
SANDBOX_CONTAINER_USER=