<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>
<body class="login-body">
  <div class="login-container">
    <h2 class="login-title">Регистрация</h2>

    <form id="register-form" class="login-form">
      <label for="first_name" class="login-label">Имя</label>
      <input type="text" id="first_name" name="first_name" class="login-input" required />

      <label for="last_name" class="login-label">Фамилия</label>
      <input type="text" id="last_name" name="last_name" class="login-input" required />

      <label for="email" class="login-label">Почта</label>
      <input type="email" id="email" name="email" class="login-input" required />

      <label for="password" class="login-label">Пароль</label>
      <input type="password" id="password" name="password" class="login-input" required />

      <!-- <label for="role" class="login-label">Роль</label>
      <select id="role" name="role" class="login-input" required>
        <option value="" disabled selected>Выберите роль</option>
        <option value="STUDENT">Студент</option>
        <option value="TUTOR">Преподаватель</option>
      </select>

      <div id="student-group-container" style="display: none;">
        <label for="group" class="login-label">Группа</label>
        <input type="text" id="group" name="group" class="login-input" />
      </div> -->

      <button type="submit" class="login-button">
        Зарегистрироваться
      </button>
    </form>

    <div class="login-footer">
      <p>Уже есть аккаунт? <a href="login" class="login-link">Войти</a></p>
    </div>
  </div>

  <script src="{{ url_for('static', path='js/register.js') }}"></script>
</body>
</html>
