<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика: {{ assignment.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/stats.css') }}">
    <script src="/static/js/script.js"></script>
</head>
<body class="body-base">
    <nav class="nav-base">
        <div class="nav-title">IPYNBGrader</div>
        <div class="nav-actions">
            <a href="/pages/tutor-home" class="home-link">Домой</a>
            <form action="/auth/logout" method="post">
                <button class="logout-button">Выйти</button>
            </form>
        </div>
    </nav>

    <main class="main-container">
        <h1 class="main-title">Статистика по заданию: {{ assignment.name }}</h1>

        {% if statistics %}
            <table class="stats-table">
                <thead>
                    <tr class="table-header">
                        <th class="table-cell">Пользователь</th>
                        <th class="table-cell">Кол-во попыток</th>
                        <th class="table-cell">Баллы</th>
                        <th class="table-cell"> </th>
                    </tr>
                </thead>
                <tbody>
                  {% for stat in statistics %}
                  <tr class="table-row">
                      <td class="table-cell">{{ stat.user.first_name }} {{ stat.user.last_name }} {{ stat.user.email }}</td>
                      <td class="table-cell">{{ stat.number_of_attempts }}</td>
                      <td class="table-cell">{{ stat.score }}</td>
                      <td class="table-cell">
                          <a href="/submissions/{{ stat.id }}/get?user_id={{ stat.user_id }}"
                             class="download-link"
                             download>
                              Скачать решение
                          </a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        {% else %}
            <p class="no-submissions">Нет отправленных решений</p>
        {% endif %}

        <div class="back-button-container">
            <a href="/pages/assignments/{{ assignment.id}}" class="back-button">
                Вернуться к заданию
            </a>
        </div>
    </main>
</body>
</html>
