<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Кабинет преподавателя</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/tutor-home.css') }}">
  <script src="/static/js/script.js"></script>
</head>
<body class="body-base">
  <nav class="nav-base">
    <div class="nav-title">NotebookGrader</div>
    <div class="nav-actions">
      <form action="/auth/logout" method="post">
        <button class="logout-button">Выйти</button>
      </form>
    </div>
  </nav>
  <main class="main-container">
    <div class="main-header">
      <h1 class="main-title">Мои задания</h1>
      <a href="/pages/assignments" class="create-button">+ Новое задание</a>
    </div>
    {% if assignments %}
      <table class="assignment-table">
        <thead>
          <tr class="table-header">
            <th class="table-cell">Название</th>
            <th class="table-cell">Дата открытия</th>
            <th class="table-cell">Дата сдачи</th>
            <th class="table-cell">Максимальный балл</th>
          </tr>
        </thead>
        <tbody>
          {% for a in assignments %}
          <tr class="table-row">
            <td class="table-cell">
              <a href="/pages/assignments/{{ a.id }}" class="assignment-link">{{ a.name }}</a>
            </td>
            <td class="table-cell">{{ a.start_date }} {{ a.start_time }}</td>
            <td class="table-cell">{{ a.due_date }} {{ a.due_time }}</td>
            <td class="table-cell">{{ a.grade }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-assignments">Пока заданий нет.</p>
    {% endif %}
  </main>
</body>
</html>
